<div id="aboutTodo" class="modal fade" tabindex="-1">
    <div class="modal-dialog" style="width:380px;">
        <div class="modal-content">
            <div class="modal-header" style="text-align:center;font-size:14px;">
                <h4 class="modal-title color-green">
                    <span class="glyphicon glyphicon-exclamation-sign"></span>&nbsp;<span translate>关于TODO</span>
                </h4>
            </div>
            <div class="modal-body">
                <div class="text-center">
                    <img src="/assets/img/logo_todo_black.png" height="60px;"/>
                </div>
                <div style="margin:50px 20px 20px 30px;">
                    <table class="table table-condensed">
                        <tbody>
                        <tr>
                            <th>
                                <label translate>版本号</label>
                            </th>
                            <td class="text-right" ng-model="version">v1.0.1 beta</td>
                        </tr>
                        <tr>
                            <th>
                                <label translate>网&nbsp;&nbsp;&nbsp;&nbsp;址</label>
                            </th>
                            <td class="text-right"><a href="http://www.eli-tech.com" target="_black">www.eli-tech.com</a></td>
                        </tr>
                        <tr>
                            <th></th>
                            <td class="text-right"></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <!--
            <div class="modal-footer">
                <button type="button" class="btn btn-success" ng-click="saveTodo()" style="width:100%;">
                    <span translate>创建新任务</span>
                </button>
            </div>
            -->
        </div>
    </div>
</div>
