html,body {font-family:"Microsoft Yahei"; height:100%; margin:0;}
h1,h2,h3,h4,h5,h6,.h1,.h2,.h3,.h4,.h5,.h6 {font-family:"Microsoft Yahei";}

.gradientBg { background:-moz-linear-gradient(#0F0F0F,#2E2E2E);
    background:-webkit-gradient(linear,center top,center bottom,from(#0F0F0F),to(#2E2E2E));
    background:-webkit-linear-gradient(#0F0F0F,#2E2E2E);
    background:-o-linear-gradient(#0F0F0F,#2E2E2E);
    background:-ms-linear-gradient(#0F0F0F,#2E2E2E);
background:linear-gradient(#0F0F0F,#2E2E2E);}

.roundBox {border-radius:5px; overflow:hidden; background-color:#FFF; opacity: 0.9; filter:alpha(opacity=90);}
.loginBox {width:380px; position:absolute;left:50%;top:50%;margin-top:-15%;margin-left:-190px; padding:30px 45px;}

.errMsg {color:red}
