
body{background-color:#f3eded;}

.btn{border:1px solid #c7ced8;font-size:14px;padding:4px 17px;}
.btn:hover{color:inherit;background:#ebebeb;}
.btn:active{box-shadow:inherit;}
#cancel-btn{margin-left:20px;}

.modal{bottom:auto;background-color:#fff;overflow:auto;font-size:16px;}
.modal-body{padding:0;border-bottom:1px solid #e5e5e5}
.modal-header{padding:15px 20px;background:#f8f8f8;border-bottom:1px solid #e5e5e5;font-size:20px;}
.modal-header .close{opacity:1;}
.modal-header .close:hover{background:url(icon/x_2.png)!important;opacity:1;}
.modal #chuck{border-top:1px solid #e5e5e5;padding-top:15px;margin-top:15px;}
.modal #foot{border-top:1px solid #e5e5e5;padding-top:15px;position:absolute;width:550px;text-align:right;bottom:20px;}
.modal-footer{margin-top:0;border-top:initial;}
.modal-open{padding:0!important;}

#bodybox{margin:20px 80px 50px 80px;min-height:500px;min-width:600px;}





#user-modal{min-width:430px;display:none;padding:20px;}
#user-group{padding:30px 0;width:430px;}
#user-group #name{float:left;font-size:25px;width:130px;text-align:center;}
#user-group input{width:300px;height:30px;}



